

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>

<script type="text/javascript">
     var map;
     var positionCustomer;

    $(document).ready(function(){
      // se crea el mapa
      map = new GMaps({
        div: '#cobertura-map',
        lat: -25.287242,
        lng: -57.634915,
        zoom: 12
      });

      // ubicacion del customer
      positionCustomer = map.addMarker({
        lat: -25.287242,
        lng: -57.634915,
        draggable: true,
        dragend: function(event) {
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
                var latlng = new google.maps.LatLng(lat, lng);
                positionCustomer.setPosition(latlng);
                $('#lat').text(lat)
                $('#lng').text(lng)

        },
      });

     

      // radio de cobertura de locales
      var path = [
         
      ]

        var poly = map.drawPolygon({
            paths: path, 
            strokeColor: '#ed7801',
            strokeOpacity: 1,
            strokeWeight: 3,
            fillColor: '#ed7801',
            fillOpacity: 0.4
        });
        


      $('#geolocation-btn').click(function(event){
        event.preventDefault();
        GMaps.geolocate({
          success: function(position) {
            map.setCenter(position.coords.latitude, position.coords.longitude);
          var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          $('#lat').text(position.coords.latitude)
          $('#lng').text(position.coords.longitude)
          positionCustomer.setPosition(latlng);
              
          },
          error: function(error) {
            alert('Geolocation failed: '+error.message);
          },
          not_supported: function() {
            alert("Your browser does not support geolocation");
          }
        });
      });
      
      $('#geolocation-btn').trigger('click');

    });


</script>
<script>
var placeSearch, autocomplete;
        var componentForm = {
            BillingNewAddress_Address1: 'short_name',
            BillingNewAddress_City: 'long_name'
        };


        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
                (document.getElementById('searchAddres')),
                {
                    types: ['geocode'],
                    componentRestrictions: { country: 'py' }
                });

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();
            // for (var component in componentForm) {
            //     document.getElementById(component).value = '';
            //     document.getElementById(component).disabled = false;
            // }

            map.setCenter(place.geometry.location.lat(), place.geometry.location.lng());
            var latlng = new google.maps.LatLng(place.geometry.location.lat(), place.geometry.location.lng());
           positionCustomer.setPosition(latlng);
            //cargarInput(place.geometry.location.lat(), place.geometry.location.lng());
            $('#lat').text(place.geometry.location.lat())
            $('#lng').text(place.geometry.location.lng())
            // Get each component of the address from the place details
            // and fill the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                var val = place.address_components[i]["long_name"];
                if (addressType == "route") {
                    $('#short_name').val(place.address_components[i]["long_name"]);
                }
                if (addressType == "locality") {
                    $('#long_name').val(place.address_components[i]["long_name"]);
                }
            }
        }


</script>

<script>
	function addressToCoordenate(lat,lng){
		var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
		var address = "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng+"&key=AIzaSyDOzs_Te0C0fhCfulT7JPWee2WvNr14ws0";
		$.getJSON(address, function(response) {
			if(response.status = "OK"){
				for (var i = 0; i < response.results.length; i++) {
					var addressType = response.results[i].types;
					if (addressType == "route") {
						$('#short_name').val(response.results[i].address_components[0]["long_name"]);
					}
					if (addressType[0] == "locality") {
						$('#long_name').val(response.results[i].address_components[0]["long_name"]);
					}

				}
			}

		});

    }

   

</script>






<!-- TITULO PRINCIPAL -->
<button id= "geolocation-btn">Presionar</button>
<section id="titulo">
    <div class="container text-center">
        <br>
        
    </div>
</section>
<div class="col-lg-12 col-md-12 inputs">
    <input name="search" id="searchAddres" class="text-box single-line" style="width:250px;" />
</div>


<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <article class="register-box clear">
                 
                    <div class="clear"></div>
                    <div id="cobertura-map" style="height: 400px;"></div>
                    <strong>Latitud</strong> <label id = "lat">0</label> <br>
                    <strong>Longitud</strong> <label id = "lng">0</label> <br>
                    <strong>Calle</strong> <input type="text" id = "short_name"> <br>
                    <strong>Ciudad</strong> <input type="text" id = "long_name">

                    <!-- <div class="text-center"><a href="register-2.php" class="btn verde">VERIFICAR COBERTURA AHORA <span class="icon-arrow-right" data-icon=">"></span></a></div> -->
                </article>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="//maps.google.com/maps/api/js?region=nz&async=2&key=AIzaSyDOzs_Te0C0fhCfulT7JPWee2WvNr14ws0&libraries=places&callback=initAutocomplete"></script>



<script src="gmaps.js"></script>